* {
    margin:0;
    padding:0;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    background-color: rgb(200, 144, 70);
    padding: 20px 15px;
    padding-right: 70px;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 280px;
    background-color: rgb(226, 174, 106);
    padding: 5px;
    padding-right: 70px;
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 190px;
    background-color: rgb(199, 219, 125);
    padding: 0px 0px;
    padding-right: 60px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 30px;
    background-color: rgb(115, 181, 222);
    padding: 5px;
    padding-right: 20px;
}
.first h1 {
    display:flex;
    justify-content:center ;
    align-items:center ;
    font-size: 17px;
}